html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#root {
  height: 100%;
  box-sizing: border-box;
}

.app-container {
  height: 100%;
  box-sizing: border-box;
}

.quill {
  height: 100%;
  width: calc(100%-300px);
  box-sizing: border-box;
}

.ql-container {
  box-sizing: border-box;
  height: calc(100%-47px);
  overflow-y: scroll;
}

.ql-editor {
  cursor: text
}

.MuiListItem-root.Mui-selected {
  background-color: #d4d8e8 !important;
}

.no-note-selected {
  font-size: 40px;
  position: absolute;
  top: 50px;
  left: calc(50% - 165px);
}